.hide:hover {
    color: rgb(231, 23, 23);
    border: 1px solid black;
    height: 500px;
    width: 100px;
    background-color: blue;
   display: block;
   position: absolute;
}
.hide{
    color:hotpink
}
body{
    background-color: black;
}
i{
    margin-right: 1500px;
    margin-right: 0px;
    position: absolute;
}
a{
    display: none;
    color: black;
    display: block;
    margin-top:20px ;
    text-decoration: none;
    
}

#brok{
    margin-left: 300px;
    margin-top: 150px;
    color: white;
    font-size: 50px;

}

nav ul li{
    list-style: none;
margin-right: 0px;
font-size:  20px;
padding: 0px 200px;
}

nav a {
text-decoration: none;
}
nav > ul {
display: flex;
}
nav li:hover  {
    background-color:gray;
    }

.display:hover li{
display: block;
margin-left: -240px;  
}
.dropdown{
position: absolute;

}
.dropdown li{
    display: none;
    background-color: red;
}
#flex li a{
    color: white;
}
nav{
   background-color: black;
   height: 80px;
    
}
section{
    display: flex;
}
span{
    color: transparent;
    margin-left: 300px;
    font-size: 50px;
    
}
span::before {
    
        content: "Tanjin Hossain";
        position: absolute;
       color: rgb(37, 23, 241);
       animation: animate 3s linear 0.5s infinite alternate;
       animation-play-state: running;
}

@keyframes animate{
    0%{
        content: "T";
        margin-left: 10px;
        color: red;
    }
    5%{
        content: "Ta";
        margin-left: 10px;
        color: rgb(37, 23, 241);
    }
    10%{
        content: "Tan";
        margin-left: 10px;
        color: green;
    }
    15%{
        content: "Tanj";
        margin-left: 10px;
        color: yellow;
    }
    20%{
        content: "Tanji";
        margin-left: 10px;
        color: tomato;
    }
    25%{
        content: "Tanjin ";
        margin-left: 10px;
        color: yellowgreen;
    }
    30%{
        content: "Tanjin H";
        margin-left: 10px;
        color: slateblue;
    }
    35%{
        content: "Tanjin Ho";
        margin-left: 10px;
        color: orangered;
    }
    40%{
        content: "Tanjin Hos";
        margin-left: 10px;
        color: orchid;
    }
    50%{
        content: "Tanjin Hoss";
        margin-left: 10px;
        color: mediumturquoise;
    }
    60%{
        content: "Tanjin Hossa";
        margin-left: 10px;
        color: orange;
    }
    70%{
        content: "Tanjin Hossai";
        margin-left: 10px;
        color: greenyellow;
    }
    80%{
        content: "Tanjin Hossain";
        margin-left: 10px;
        color: limegreen;
    }
    90%{
        content: " Tanjin";
        margin-left: 10px;
        color: hotpink;
    }
    100%{
        content: " Hossain";
        margin-left: 10px;
        color: lime;
    }
   

   
}






