nav ul li{
    list-style: none;
margin-right: 0px;
font-size:  20px;
padding: 0px 200px;
}

nav a {
text-decoration: none;
}
nav > ul {
display: flex;
}
nav li:hover  {
background-color: black;
}

.display:hover li{
display: block;
margin-left: -240px;  
}
.dropdown{
position: absolute;

}
.dropdown li{
    display: none;
    background-color: red;
}
#flex li a{
    color: white;
}
nav{
   background-color: black;
   height: 80px;
    
}
body{
    margin: 0;
    background-color: lightblue;

}
section{
    display: flex;
}

.margin{
    margin: 80px;
}
img{
    margin-right: 200px;
    margin-top: 30px;
}
.color{
    border: 1px solid yellow;
    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    background-image: linear-gradient(red,yellow);
}
h1{
    font-size: 70px;
}
table{
    border-collapse: collapse;
    margin-left: 200px;
   
}

 td,th{
     border: 1px solid;
 }
 .size{
     font-size: 30px;
     margin-left: 200px;
 }
 td{
     padding: 30px;
     padding-left: 10px;
 }




